$color-main: #667753;
$color-text: #fbf8e6;
$color-accent: #5d3030;
$color-category: #c7c58d;
$color-bord: #666666;

@mixin inner($w: 90%, $mw: 1287px) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $j;
  align-items: $a;
}

body {
  font-size: 16px;
  color: $color-text;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*header
---------------------------------------------*/

.header {
  height: 100vh;
  background-color: $color-main;
  padding-top: 1px;

  &__inner {
    width: 97%;
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
  }
  &__photo {
    position: relative;
  }

  &__logo {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100px;
    background: url(../images/photo1.png) center center cover;
  }

  &__photo2 {
    position: absolute;
    top: 900px;
    right: 10px;
    width: 80%;
    height: 60%;
    margin: 0;
    background: url(../images/photo2.png) no-repeat center center;
    background-size: cover;
    background-color: $color-main;
  }

  // &__hamburger-flex {
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__right {
    display: none;
  }

  &__back {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80%;
    height: 60%;
    margin: 0;
    background: url(../images/photo1.png) no-repeat center center;
    background-size: cover;
    transition: all 1s;
  }

  &__text {
    margin-top: 689px;
    border: 0;
    outline: 0;
    font-weight: normal;
  }

  &__text p:nth-child(1) {
    font-size: 30px;
  }

  &__text p:nth-child(2) {
    font-size: 20px;
  }

  &__title {
    display: block;
    position: absolute;
    top: 65%;
    right: 10%;
    font-size: 42px;
    font-weight: bold;
    color: $color-accent;
  }
}

.hamburger {
  z-index: 99999;
  display: block;
  width: 40px;
  height: 50px;
  position: fixed;
  top: 40px;
  right: 20px;
  transition: 1s;

  & span {
    display: block;
    background-color: #fff;
    height: 1px;
    width: 50px;
    transition: 1s;
  }

  & span:nth-child(2) {
    margin-top: 10px;
    transition: 1s;
  }
}

.nav {
  z-index: 9999;
  transform: translateX(100%);
  top: 0%;
  left: 0%;
  right: 0%;
  background-color: rgba(199, 197, 141, 0.8);
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: 1s;

  &__list {
    text-align: center;
    margin-top: 150px;
  }

  &__item {
    margin-top: 30px;
  }

  &__item a {
    text-decoration: none;
    color: $color-text;
    font-weight: bold;
    transition: 0.5s;
  }

  &__item a:hover {
    border-bottom: 1px solid $color-text;
    padding: 5px;
    transition: 0.5s;
  }
}

.container {
  display: block;
  transform: translateX(0%);
  transition: 1s;
}

.active span {
  transform: rotate(45deg);
  transition: 1s;
}

.active span:nth-child(2) {
  margin-top: 0px;
  transform: rotate(-45deg);
  transition: 1s;
}

/*btn
------------------------*/

.btn {
  &--hamburger {
    display: block;
    width: 260px;
    margin: 40px auto 0;
    color: $color-main;
    background-color: $color-text;
    text-decoration: none;
    padding: 25px 65px;
    border-radius: 50px;
    transition: 0.5s;
    text-align: center;

    &:hover {
      background-color: $color-accent;
      color: $color-text;
      transition: 0.5s;
    }
  }

  &--contact {
    margin: 0 auto;
    display: block;
    width: 260px;
    color: $color-main;
    background-color: $color-text;
    text-decoration: none;
    padding: 25px 65px;
    border-radius: 50px;
    transition: 0.5s;
    text-align: center;

    &:hover {
      background-color: $color-accent;
      color: $color-text;
      transition: 0.5s;
    }
  }
}

/*スクロールバー*/

.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  right: 40px;
  bottom: 40%;
  /*全体の高さ*/
  height: 100px;

  & span {
    /*描画位置*/
    position: absolute;
    left: -21px;
    top: -20px;
    /*テキストの形状*/
    color: $color-accent;
    transform: rotate(90deg);
    font-size: 0.9em;
    letter-spacing: 0.05em;
  }

  &::after {
    content: '';
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 50px;
    background: $color-accent;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
    margin-top: 20px;
  }
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

/*main
----------------------------------------------*/

.main {
  background-color: $color-main;

  // &__inner {
  //   width: 90%;
  //   max-width: 835px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  &__inner {
    width: 91.8%;
    max-width: 1287px;
    margin-left: auto;
    margin-right: auto;
  }
}

.unit {
  &__category {
    font-size: 12px;
    color: $color-category;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 30px;
    position: relative;
  }

  &__title:before {
    z-index: 999;
    content: '';
    position: absolute;
    top: 25px;
    left: -400px;
    background-color: $color-text;
    width: 350px;
    height: 1px;
  }

  &__text {
    line-height: (30/16);
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.card {
  position: relative;
  border-bottom: 1px solid $color-text;

  &__imp {
    position: relative;
  }

  &__content {
    padding: 20px;
  }

  &__photo {
    padding: 20px;
    width: auto;
    height: 100%;
  }

  &__number {
    font-size: 90px;
  }

  &__title {
    position: absolute;
    top: 56px;
    left: 60px;
    color: $color-category;
  }

  &__content-title {
    font-size: 28px;
  }
}

/*about
---------------------------------*/

.about {
  padding: 700px 0 100px;

  &__content {
    margin-bottom: 100px;
  }

  &__text p:nth-child(1) {
    font-size: 32px;
    font-weight: bold;
  }

  &__text p:nth-child(2) {
    font-size: 20px;
    margin-left: 50px;
  }

  &__link {
    color: $color-accent;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: bold;
  }

  &__link::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 7px;
    top: 5px;
    left: 140px;
    border-right: 2px solid $color-accent;
    border-bottom: 1px solid $color-accent;
    transform: skewX(50deg);
    transition: 1s;
  }

  &__link:hover::before {
    left: 170px;
    transition: 0.5s;
  }

  &__link:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid $color-accent;
    top: -15px;
    left: 195px;
  }

  &__photo {
    position: relative;
    width: 80%;
  }

  &__photo1 {
    max-width: 500px;
    position: relative;
    border: 1px solid $color-category;
    width: 100%;
  }

  &__photo2 {
    position: absolute;
    top: 200px;
    right: -100px;
    width: 300px;
    border: 1px solid $color-category;
  }

  &__photo3 {
    position: absolute;
    top: 450px;
    right: 60px;
    width: 250px;
    border: 1px solid $color-category;
  }
}

// 文字のループ

.loop {
  display: flex;
  overflow: hidden;
  margin-top: 250px;

  & p {
    padding-right: 0.5em;
    font-size: 15vw;
    white-space: nowrap;
    color: rgba(199, 197, 141, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

.text03 {
  animation: loop 50s -25s linear infinite;
}

.text04 {
  animation: loop2 50s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

/*service
-----------------------------------------------*/

.service {
  &__content {
    text-align: center;
    border-top: 1px solid $color-text;
    border-bottom: 1px solid $color-text;
    padding: 50px 0 20px;
  }

  &__inner {
    width: 91.8%;
    max-width: 1287px;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    padding: 50px 0;
  }
}

/*contact
--------------------------------------------------*/
.contact {
  padding: 10px;

  &__contents {
    background-image: url(../images/photo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    text-align: center;
    padding: 90px 0;
  }
}

/*------------------------ABOUT-----------------------------------*/
/*greet
-----------------------------------------------------*/

.greet {
  margin-top: -189px;
  border-top: 1px solid $color-text;
  padding: 200px 0;

  &__title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }

  &__title p:nth-child(1) {
    margin-bottom: 50px;
  }

  // &__title p:nth-child(2) {
  //   margin-right: -200px;
  // }
}

/*group
--------------------------------------------------*/

.group {
  text-align: center;
  margin-bottom: 100px;

  &__category {
    font-size: 15px;
    color: $color-text;
  }

  &__title {
    font-size: 48px;
    color: $color-category;
    font-weight: bold;
  }
}

/*charm
-------------------------------------------------------*/

.charm {
  border-top: 1px solid $color-text;
  border-bottom: 1px solid $color-text;
  padding: 100px 0;

  &__item {
    background-image: url(../images/charm_①.png);
    background-repeat: no-repeat;
    background-position: center-center;
    box-shadow: 13px 12px 15px 0 rgba(199, 197, 141, 0.5);
  }
}

.bord {
  padding: 20px;
  margin-bottom: 100px;

  &__category {
    color: $color-bord;
    font-weight: bold;
  }

  &__text {
    color: $color-bord;
    text-align: center;
    padding: 50px 50px;
  }
}

/*profile
--------------------------------------------------*/

.profile {
  border-top: 1px solid $color-text;
  border-bottom: 1px solid $color-text;
  padding: 100px 0;

  &__content {
    font-size: 18px;
  }
}

.detail {
  margin: 0 auto;

  // &__text:nth-child(1) {
  //   border-top: 1px dashed $color-text;
  // }
}

table {
  margin: 0 auto 122px;
  width: 350px;
  line-height: 2.14;
  border-collapse: collapse;
}

tbody {
  box-sizing: inherit;
}

tr {
  border-bottom: 1px dashed $color-text;
  padding: 30px 0;
}

tr:nth-child(1) {
  border-top: 1px dashed $color-text;
}

th {
  width: 153px;
  padding-left: 40px;
  text-align: left;
  vertical-align: top;
  padding: 40px;
}

td {
  padding: 0 30px;
}

/*sdgs
-----------------------------------------------*/

.sdgs {
  padding: 100px 0;
}

/*------------------------service-----------------------*/

/*plan
------------------------------------------------*/

.plan {
  margin-top: -189px;
  border-top: 1px solid $color-text;
  padding: 200px 0;
}

/*flow
------------------------------------------------*/

.flow {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  // &__item:after {
  //   content: '';
  //   position: absolute;
  //   width: 1px;
  //   height: 50px;
  //   background-color: $color-accent;
  //   top: 166px;
  //   left: 100px;
  // }
}

.tail {
  border: 1px solid $color-accent;
  position: relative;
  padding: 10px;

  &__number {
    // margin-right: 20px;
    width: 16%;
    text-align: center;
  }

  &__icon {
    // padding: 0 10px;
    min-width: 20%;
    // border-right: 1px solid $color-accent;
    // border-left: 1px solid $color-accent;
    padding: 10px;
    text-align: center;
    position: relative;
    padding: 10px;
  }

  &__icon:before {
    content: '';
    position: absolute;
    top: 15%;
    left: -10%;
    background-color: $color-accent;
    height: 70%;
    width: 1px;
    margin-left: 10px;
    margin-right: 40px;
  }

  &__icon:after {
    content: '';
    position: absolute;
    top: 15%;
    right: -10%;
    background-color: $color-accent;
    height: 70%;
    width: 1px;
    margin-right: 10px;
  }

  &__text {
    width: 67%;
    font-size: 18px;
    // margin-left: 300px;
    text-align: center;
  }
}

/*--------------------design---------------------------*/

.design {
  &__border {
    margin-top: -189px;
    border-top: 1px solid $color-text;
    padding: 200px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    padding: 0 20px;

    & a {
      text-decoration: none;
      color: $color-text;
      transition: 0.5s;
    }

    & a:hover {
      color: $color-accent;
      transition: 0.5s;
      border-bottom: 1px solid $color-accent;
      transition: 0.5s;
      padding-bottom: 10px;
    }
  }
  &__photo {
    @include flex();
    margin-top: 50px;
  }
}

/*contact
-------------------------------------------------*/

.contact {
  &__border {
    margin-top: -189px;
    border-top: 1px solid $color-text;
    padding: 200px 0;
  }

  &__form {
    border: 5px solid rgba(199, 197, 141, 0.8);
    padding: 50px;
  }

  &__item {
    border-bottom: 1px solid $color-text;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.zebra {
  &__imp {
    background-color: #df8747;
    padding: 5px 10px;
    margin-left: 20px;
  }

  &__text {
    background-color: rgba(221, 221, 221, 0.3);
    padding: 10px;
    margin-top: 10px;
  }
}

/*デスクトップ
-------------------------------------------------*/

@media (min-width: 970px) {
  .header {
    padding-top: 40px;

    &__back {
      width: 60%;
    }

    &__flex {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      display: block;
      position: absolute;
      top: 300px;
      right: 20%;
      font-size: 42px;
      font-weight: bold;
      color: $color-accent;

      &:before {
        content: '';
        position: absolute;
        background-color: $color-text;
        width: 1px;
        height: 529px;
        top: 32px;
        right: -100px;
      }
    }

    &__left {
      display: grid;
      // grid-template-columns: 30% 30% 30%;
      // grid-template-rows: 33vh 33vh 33vh;
    }

    &__right {
      display: block;
      margin-left: 100px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__photo2 img {
      display: inline;
    }

    &__text {
      margin-top: 500px;
    }

    &__logo {
      width: 150px;
      top: 30px;
      left: 40px;
    }
  }

  .btn {
    display: block;
    width: 260px;
    margin-left: auto;
    color: $color-main;
    background-color: $color-text;
    text-decoration: none;
    padding: 25px 65px;
    border-radius: 50px;
    transition: 0.5s;
    text-align: center;

    &:hover {
      background-color: $color-accent;
      color: $color-text;
      transition: 0.5s;
    }
  }

  .card {
    &__content {
      width: 50%;
      padding: 20px 50px;
      // border-right: 1px solid $color-text;
    }

    &__photo {
      width: 50%;
      padding: 20px;
      width: auto;
      height: 100%;
    }

    &__content-title {
      margin-top: 400px;
    }
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;

    &__list {
      list-style: none;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 18px;

      a {
        position: relative;
        text-decoration: none;
        color: $color-text;
        overflow: hidden;
        padding: 10px 60px;
      }

      span {
        position: absolute;
        left: 50%;
        top: 0;
        /*アニメーションの指定*/
        transition: all 0.5s;
        transform: translate(-50%, 0); /*X方向に-50% ※中央寄せにするため*/
        /*ブロック要素にして透過なし、テキスト折り返しなし*/
        display: block;
        opacity: 1;
        white-space: nowrap;
      }

      span:nth-child(2) {
        opacity: 0; /*透過0に*/
        transform: translate(-50%, 100%);
      }

      :hover span:nth-child(1) {
        opacity: 0; /*透過0に*/
        transform: translate(-50%, -100%);
      }

      :hover span:nth-child(2) {
        opacity: 1; /*不透明に*/
        transform: translate(-50%, 0);
        font-weight: lighter;
      }
    }
  }

  .hamburger {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 100px 0 700px;

    &__content {
      width: 31.8%;
    }

    &__photo {
      width: 41.2%;
    }

    &__content {
      margin-top: 100px;
    }
  }

  .loop {
    margin: 0;
  }

  .service {
    &__item {
      @include flex();
    }

    &__item:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $color-text;
      transition: height 1s;
    }

    &__item:nth-child(even) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  /*plan
  -----------------------------------*/
  .plan {
    &__item {
      @include flex();
    }
  }

  /*contact
  ------------------------------------*/

  .contact {
    &__item {
      display: flex;
      align-items: center;
    }
  }

  .zebra {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      width: 30%;
    }

    &__text {
      width: 60%;
      margin-top: 0;
    }
  }

  .tail {
    &__icon {
      min-width: 10%;
    }
  }
}

@media (min-width: 835px) {
  .header {
    padding-bottom: 500px;
    &__photo2 {
      position: absolute;
      top: 300px;
      left: 69%;
      width: 30%;
      height: 60%;
      margin: 0;
      background: url(../images/photo2.png) no-repeat center center;
      background-size: cover;
    }
  }
  .scrolldown {
    display: none;
  }

  .scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 50%;
    bottom: 50px;
    /*全体の高さ*/
    height: 100px;

    & span {
      /*描画位置*/
      position: absolute;
      left: -20px;
      top: -20px;
      /*テキストの形状*/
      color: $color-accent;
      transform: rotate(90deg);
      font-size: 0.9rem;
      letter-spacing: 0.05em;
    }

    &::after {
      content: '';
      /*描画位置*/
      position: absolute;
      top: 0;
      /*線の形状*/
      width: 1px;
      height: 50px;
      background: $color-accent;
      /*線の動き1.4秒かけて動く。永遠にループ*/
      animation: pathmove 1.4s ease-in-out infinite;
      opacity: 0;
      margin-top: 20px;
    }
  }

  /*高さ・位置・透過が変化して線が上から下に動く*/
  @keyframes pathmove {
    0% {
      height: 0;
      top: 0;
      opacity: 0;
    }
    30% {
      height: 30px;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 50px;
      opacity: 0;
    }
  }
  .about {
    padding: 100px 0;
  }
}

@media (min-width: 600px) {
  table {
    width: 800px;
  }
}

@media (min-width: 580px) {
  .charm {
    &__list {
      @include flex();
    }
  }

  .bord {
    width: 39%;
    padding: 20px;
  }

  .greet {
    &__title {
      font-size: 3vw;
    }

    &__title p:nth-child(1) {
      margin-left: -200px;
    }
  }

  th {
    width: 300px;
  }

  .tail {
    &__text {
      font-weight: bold;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 807px) {
  .bord {
    box-shadow: none;
  }
}

@media (max-width: 666px) {
  .about {
    &__photo2 {
      top: 50%;
      right: 0;
      left: 50%;
      width: 60%;
    }

    &__photo3 {
      left: 10%;
      right: 0;
      width: 60%;
      top: 120%;
    }
  }
}

/*========= 光りながら出現させるためのCSS ===============*/

.glowAnime span {
  opacity: 0;
}

/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span {
  animation: glow_anime_on 1s ease-out forwards;
}

@keyframes glow_anime_on {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 15px #fff;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
}
